body {
    background-color: aquamarine;
    align-items: center;
}

h1 {
    background-color: burlywood;
    text-align: center;
}

nav {
    color: crimson;
}

#generos {
    text-align: center;
    font-size: 30px;
}

.titulo {
    background-color: bisque;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img image {
    text-align: center;
    border: 10px;
    border-color: red;
}

header {
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bodydrama {
 
    align-items: center;
    background-color: aquamarine
}

.volta {
    font-size: 40px;
    text-align: left;
}

ol {
    text-align: center;
}